@model Covid19.Models.Hospital

@{
    ViewData["Title"] = "Edit";
}
<div class="page-heading">
    <h3>
        تعديل
    </h3>
    <ul class="breadcrumb">
        <li>
            <a asp-controller="Hospitals" asp-action="Index">المستشفيات</a>
        </li>
        <li class="active">تعديل</li>
    </ul>
</div>

<section class="wrapper">
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <form asp-action="Edit" class="panel-heading">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="HName" class="control-label"></label>
                    <div>
                    <input asp-for="HName" class="form-control" />
                    <span asp-validation-for="HName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ICUBeds" class="control-label"></label>
                    <input asp-for="ICUBeds" class="form-control" />
                    <span asp-validation-for="ICUBeds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ICUVents" class="control-label"></label>
                    <input asp-for="ICUVents" class="form-control" />
                    <span asp-validation-for="ICUVents" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="حفظ"  />
                    <input type="submit" class="btn btn-success btn-lg btn-block" asp-action="Index"  value="عودة" />
                </div>
            </form>
        </section>
    </div>
    </div>
    </section>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
