@model Covid19.Models.Patient

@{
    ViewData["Title"] = "Edit";
}


<div class="page-heading">
    <h3>
        تعديل
    </h3>
    <ul class="breadcrumb">
        <li>
            <a asp-controller="Patients" asp-action="Index">العناية المركزة</a>
        </li>
        <li class="active">تعديل حالة</li>
    </ul>
</div>

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                   تعديل
                </header>
                <div class="panel-body">

                    <form asp-action="Edit" class="form-horizontal adminex-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="HospitalId" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <select asp-for="HospitalId" class="form-control" asp-items="ViewBag.HospitalId" disabled></select>
                                <span asp-validation-for="HospitalId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PName" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="PName" class="form-control" />
                                <span asp-validation-for="PName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="NationalId" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="NationalId" class="form-control" />
                                <span asp-validation-for="NationalId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Age" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Age" class="form-control" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Job" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Job" class="form-control" />
                                <span asp-validation-for="Job" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketNumber" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="TicketNumber" class="form-control" />
                                <span asp-validation-for="TicketNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnterDate" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="EnterDate" class="form-control" />
                                <span asp-validation-for="EnterDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Report" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <textarea rows="12" asp-for="Report" class="form-control"></textarea>
                                <span asp-validation-for="Report" class="text-danger"></span>
                            </div>
                        </div>
                        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                        

                        <div class="form-group">
                            <label asp-for="StatusID" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <select asp-for="StatusID" class="form-control" asp-items="ViewBag.statusList"></select>
                                <span asp-validation-for="StatusID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" id="showformDiv" style="@ViewBag.divhide">
                            <label asp-for="ExitDate" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="ExitDate" class="form-control" />
                                <span asp-validation-for="ExitDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="submit" value="تعديل" class="btn btn-success btn-lg btn-block" />
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
