@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <h3>
        اضافة مستخدم
    </h3>
    <ul class="breadcrumb">
        <li>
            <a asp-controller="Hospitals" asp-action="Index">المستخدمين</a>
        </li>
        <li class="active">اضافة</li>
    </ul>
</div>
<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    اضافة جديد
                </header>
                <div class="panel-body">

                    <form class="form-horizontal adminex-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.HospitalId" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <select asp-for="Input.HospitalId" class="form-control" asp-items="ViewBag.HospitalId">
                                    <option value="0">اختر</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">اضافة</button>
                            </div>
                        </div>
                    </form>

                </div>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</section>



